<form (ngSubmit) = "onSubmit()">
  <div class = "container">
    <div *ngIf="!isEditing" >
      Create New Pizza: 
      <input Validators.required type="text" name="pizzaname" [(ngModel)] = "_pizza.name" placeholder="Name">
    </div>
    <div *ngIf="isEditing">
      Edit Pizza: 
      <input Validators.required type="text" name="pizzaname" [(ngModel)] = "_pizza.name" placeholder="Name">
    </div>
    <h5>Toppings</h5>
    <div *ngFor="let item of _toppingList" >
      <div><input type="checkbox" name="{{item.name}}" (change)="onChange()" [(ngModel)]="item.isSelected" >
        {{item.name}}
      </div>
    </div>
    <div *ngIf="!isEditing">
      <input type="submit" value="Save">
    </div>
    <div *ngIf="isEditing">
      <input type="submit" value="Update">
    </div>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <th>Pizza Name</th>
    <th>Toppings</th>
    <th>Actions</th>
  </thead>
  <tbody>
    
    <tr *ngFor = "let pizza of _pizzaList">
     
      <td>{{pizza.name}}</td>
      <td>{{pizza.toppings}}</td>
      
      <td>
        <input type= "button" value="Edit" (click)="edit(pizza)">
        <input type="button" value="Delete" (click) = "delete(pizza.id)">
      </td>
    </tr>
  
  </tbody>
</table>