<div>
    <h1>Toppings</h1>
   
        <label for="toppingName">Enter new topping</label>
        <input Validators.required id ="toppingName" #top (keyup.enter) = "addTopping(top)"  type="text" 
             class="form-control" >
    

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of toppings; index as i ">
                <td>
                    <div *ngIf="t.isEdit">
                        
                        <input Validators.required  id="{{t.name}}" #top (keyup.enter)="updateTopping(t, top)"  (keyup.escape)="cancelEdit(t)" class="form-control" value="{{t.name}}">
                    </div>
                    <div *ngIf="!t.isEdit">
                        {{i + 1}}. {{t.name}}
                    </div>
                    
                </td>
                <td>
                        <button class="btn btn-outline-dark" (click) = "editTopping(t)">
                            Edit
                        </button>
                        
                </td>
                <td>
                         <button class="btn btn-outline-dark" (click) ="deleteTopping(t,i)">Delete</button>  
                </td>
            </tr>
        </tbody>
    </table>

</div> 