<div>
    <h1>Toppings</h1>
   
        <label for="toppingName">Enter new topping</label>
        <input id ="toppingName" (keyup.enter) = "addTopping(top)" #top type="text" 
             class="form-control" >
    

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of toppings; index as i ">
                <td>
                    <div *ngIf="t.isEdit">
                        
                        <input Validators.required  id="{{t.name}}" #top (keyup.enter)="updateTopping(t, top)" type="text" class="form-control" value="{{t.name}}">
                    </div>
                    <div *ngIf="!t.isEdit">
                        {{i + 1}}. {{t.name}}
                    </div>
                    
                </td>
                <td>
                        <button 
                            (click) = "editTopping(t)"
                            class="btn btn-default btn-sm" >Edit
                        </button>
                </td>
                <td>
                         <button class="btn btn-primary" (click) ="deleteTopping(t,i)">Delete</button>  
                </td>
            </tr>
        </tbody>
    </table>

</div> 
